[submodule "linux_raspberrypi"]
	path = linux_raspberrypi
	url = git@github.com:Oveln/linux_raspberrypi_r4l_learn
[submodule "arceos"]
	path = arceos
	url = git@github.com:Oveln/arceos.git
[submodule "rust-raspberrypi-OS-tutorials"]
	path = rust-raspberrypi-OS-tutorials
	url = https://github.com/chenlongos/rust-raspberrypi-OS-tutorials.git
